priority -50

snippet t3init "t3js init" b
<script>
	Box.Application.init();${0}
</script>
endsnippet

snippet t3module "t3js html module" b
<${1:div} data-module="${2:moduleId}">
	${0}
</$1>
endsnippet

snippet t3element "t3js html module element" b
<${1:div} data-type="${2:element}">${0}</$1>
endsnippet

snippet t3config "t3js module config" b
<script type="text/x-config">{${0}}</script>
endsnippet
